# Next.js
node_modules/
.next/
out/

# TypeScript
*.tsbuildinfo

# Env / Secrets
.env
.env*.local

# OS / editors
.DS_Store

# Generated Prisma client (regenerated via `prisma generate` / postinstall)
/app/generated/prisma
